html
    head
        link(rel="stylesheet", type="text/css", href="css/css.css")
        script
        title 真心話大冒險
        meta(charset="UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="author", content="Jack & Mark")
    body
        div(id="container")
            h1 真心話大冒險
            div(id="question_block")
                h2 Q:
                    span(id="question") #{task}
            div(id="animation")
                img(src="img/bottle.png")
            div(id="buttons")
                input(id="btn_start", type="button", onclick="", value="開始")
                input(id="btn_truth", type="button", onclick="", value="真心話")
                input(id="btn_adventure", type="button", onclick="", value="大冒險")
