#container{
	width:500px;
	background-color:#eeeeee;
	margin:20px auto;
	padding:20px;
}
h1{
	text-align:center;
}
#question_block{
	text-align:center;
}
#question{
	
}
#animation{
	text-align:center;
}
#buttons{
	text-align:center;
}
#btn_start{
	
	width:200px;
	height:50px;
}
#btn_truth{
	display:normal;
	width:200px;
	height:50px;
}
#btn_adventure{
	display:none;
	width:200px;
	height:50px;
}